################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/projetopixelplace.metadata.v7.bin
/.vs/ProjectEvaluation/projetopixelplace.projects.v7.bin
/.vs/ProjetoPixelPlace/DesignTimeBuild/.dtbcache.v2
/.vs/ProjetoPixelPlace/FileContentIndex/73b17103-38b8-4d11-8bf9-d104c37d9c1f.vsidx
/.vs/ProjetoPixelPlace/FileContentIndex/a07a32e8-2d15-4da6-8752-1a6de3d079fa.vsidx
/.vs/ProjetoPixelPlace/FileContentIndex/cff0ba82-23b7-4c01-b745-3947608ce5c3.vsidx
/.vs/ProjetoPixelPlace/FileContentIndex/dd9c54c1-ca46-4ee7-a9c7-fa766f37596f.vsidx
/.vs/ProjetoPixelPlace/v17/.futdcache.v2
/.vs/ProjetoPixelPlace/v17/.suo
/.vs/ProjetoPixelPlace/FileContentIndex
