@model ProjetoPixelPlace.Entities.Jogo

@{
    ViewData["Title"] = "Index";
}

    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/inicial.css">
    <script src="~/js/script.js"></script>

                <div class="mainBody">
                    <div class="imagePoster">
                        <div class="containerSombra">
                            <div>
                                <p>@Model.Nome</p>
                            </div>
                            <div class="containerPreco">
                                <div class="containerCategoria">
                                    <div class="cardCategoria">adventure</div>
                                    <div class="cardCategoria">puzzle</div>
                                    <div class="cardCategoria">Platform</div>
                                </div>
                                <p>R$ 1000</p>
                            </div>
                        </div>
                    </div>
                    <div class="containerAdicionados">
                        <div class="containerSectionAdcionados">
                            <p>Jogos Recentemente Adicionados <img src="img/fogo.png" alt=""></p>
                            <a href="">View All</a>
                        </div>
                        <div class="containerSectionCards">
                            <div class="card1">
                                <div class="containerSombra">
                                    <div>
                                        <p>Planet Of Lana</p>
                                    </div>
                                    <div class="containerPreco2">
                                        <div class="containerCategoria">
                                            <div class="cardCategoria">adventure</div>
                                            <div class="cardCategoria">puzzle</div>
                                            <div class="cardCategoria">Platform</div>
                                        </div>
                                        <p>R$ 1000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card2">
                                <div class="containerSombra">
                                    <div>
                                        <p>Planet Of Lana</p>
                                    </div>
                                    <div class="containerPreco2">
                                        <div class="containerCategoria">
                                            <div class="cardCategoria">adventure</div>
                                            <div class="cardCategoria">puzzle</div>
                                            <div class="cardCategoria">Platform</div>
                                        </div>
                                        <p>R$ 1000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>