.vectorVoltar {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    cursor: pointer;
}

    .vectorVoltar:hover svg path {
        fill: #2596BE;
        transition: 0.45s ease-out;
        color: #2596BE;
    }


/* COMEÇO ESTILIZAÇÃO BANNER COM INFORMAÇÕES DO JOGO */
.jogoPrincipal {
    width: 100%;
    min-height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 12px;
}

    .jogoPrincipal::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        border-radius: 12px;
        z-index: 1;
    }

    .jogoPrincipal > * {
        position: relative;
        z-index: 2; /* Garante que o conteúdo fique acima do gradiente */
    }

/* COMEÇO ESTILIZAÇÃO DOS BOTÕES */

.botoes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: start;
    gap: 20px;
    cursor: pointer;
    padding-top: 90px;
}

.precoJogo {
    width: 190px;
    height: 96px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    background-color: #2C2E30;
    border: 2px solid;
    border-color: #FFFF;
    cursor: pointer;
    font-weight: 500;
}

.btn1 {
    background-color: #2C2E30;
    cursor: pointer;
    width: 96px;
    height: 96px;
    border-radius: 8px;
}

.btn {
    width: 100%;
    height: auto;
    background-color: #2C2E30;
    color: #FFFF;
    cursor: pointer;
}

.pBtn {
    width: 100%;
    height: auto;
    font-size: 24px;
    cursor: pointer;
}

/* FIM ESTILIZAÇÃO DOS BOTÕES/ COMEÇO ESTILIZAÇÃO TRAILER EM CIMA */

.trailer {
    width: 100%;
    height: auto;
    font-size: 25px;
    color: #8F8F8F;
    padding: 0px 0px 40px 0px;
    font-weight: 500;
    cursor: pointer;
}

/* FIM ESTILIZAÇÃO TRAILER / COMEÇO INFORMAÇÕES ESCRITAS DO JOGO */

.mainInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    justify-content: center;
    padding: 15px 0px 15px 30px;
    position: relative;
    height: 100%;
}

.nomeJogo {
    width: 100%;
    height: auto;
    font-size: 50px;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 10px;
}

.subHead {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: start;
    font-size: 25px;
    color: #8F8F8F;
    font-weight: 300;
}

.subsub {
    color: #C6C6C6;
}

.rating {
    width: 177px;
    height: 40px;
    gap: 3px;
    display: flex;
    flex-direction: row;
    color: #8F8F8F;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

.descricao {
    width: 60%;
    height: auto;
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 790px) {
    .jogoPrincipal {
        min-height: auto; /* Remove a altura mínima */
    }

    .mainInfo {
        padding: 15px 30px; /* Ajusta o preenchimento */
    }

    .botoes {
        flex-direction: column; /* Altera para uma coluna quando a largura for menor que 790px */
        align-items: start; /* Alinha os botões à esquerda */
        padding-top: 20px; /* Ajusta o preenchimento superior */
    }

    .subHead {
        flex-direction: column; /* Altera a direção para uma coluna */
    }

    .descricao {
        width: 100%; /* Define a largura da descrição para 100% para ocupar toda a largura disponível */
    }
}
