@model ProjetoPixelPlace.Entities.Usuario

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixelPlace</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/cadastro.css">
    <script src="~/js/script.js"></script>
</head>

<body>
    <main>
        
        <div class="mainBody">
            <div class="containerCadastro">
                <div class="headerCelphone">
                    <label for="menu-hamburguer" id="containerMenuBotao">
                        <div class="menuBotao">
                            <span class="hamburguer"></span>
                        </div>
                    </label>
                    <p class="tituloMenu">Pixel<b>Place</b></p>
                </div>

                <form asp-action="Create" class="containerItens">
                    <div class="cadastro">
                        <p>CADASTRAR-SE</p>
                    </div>
                    <div class="conjuntoInput">
                        <p>Nome de Usuário</p>
                        <input asp-for="NomeUsuario" type="text" />
                    </div>
                    <div class="conjuntoInput">
                        <p>Endereço de Email</p>
                        <input asp-for="Email" type="email" />
                    </div>
                    <div class="conjuntoInput2">
                        <p>Digite sua Senha</p>
                        <div class="inputSenha">
                            <input asp-for="Senha" type="password" id="senha" placeholder="">
                            <label for="senha">
                                <div class="olho">
                                    <img src="~/img/olho.svg" alt="">
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="conjuntoInput2">
                        <p>Digite sua Senha</p>
                        <div class="inputSenha">
                            <input type="password" id="ConfirmarSenha" />
                            <label for="ConfirmarSenha">
                                <div class="olho">
                                    <img src="~/img/olho.svg" alt="">
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="containerBCadastro">
                        <input type="submit" value="Cadastrar" class="botaoCadastro">
                        </input>
                        <div class="containerConta">
                            <p class="corNormal">Já tem conta?</p>
                            <a asp-action="Logar" class="corazul">Iniciar sessão</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
