@model ProjetoPixelPlace.Entities.Usuario

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixelPlace</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/cadastro.css">
    <script src="~/js/script.js"></script>
</head>

<body>
    <main>


        <div class="mainBody">
            <div class="containerCadastro">
                <div class="headerCelphone">
                    <label for="menu-hamburguer" id="containerMenuBotao">
                        <div class="menuBotao">
                            <span class="hamburguer"></span>
                        </div>
                    </label>
                    <p class="tituloMenu">Pixel<b>Place</b></p>
                </div>


                <form asp-action="Logar" class="containerItens">
                    <div class="cadastro">
                        <p>Iniciar sessão</p>
                    </div>
                    <div class="conjuntoInput">
                        <p>INICIAR SESSÃO COM EMAIL DO USUÁRIO</p>
                        <input type="text" asp-for="Email" />
                    </div>
                    <div class="conjuntoInput2">
                        <p>SENHA</p>
                        <div class="inputSenha">
                            <input asp-for="Senha" type="password" id="olhar" placeholder="">
                            <label for="olhar">
                                <div class="olho">
                                    <img src="~/img/olho.svg" alt="">
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="containerBCadastro">
                        <input type="submit" value="Iniciar Sessão" class="botaoCadastro">
                        <a href="" class="risco">Não consigo iniciar sessão</a>
                    </div>
                    <div class="containerConta">
                        <div class="cornormal">
                            <p>Não tem uma conta?</p>
                        </div>
                        <a asp-action="Create" class="corazul">Cadastrar-se</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
